body {
  background-image:url("assents/bg.png") ;
  background-size: 7%;
  background-repeat:repeat;
  font-family: Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-image:url("assents/bg_dark.png") ;
  background-color: black;
  color: white;
}

header {
  background-color: darkorange;
  padding: 20px;
  text-align: center;
  z-index: 10;
}

header div {
  background-image: url("assents/header_bg.jpg");
  border:2px solid #ccc!important;
  border-radius:16px
}

header div h1 {
  font-size: 75px;
  margin: 0;
  color: white;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

#navbar ul li {
  border: 2px solid #333!important;
  background-color: darkorange;
  display: inline-block;
}

#navbar ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#navbar ul div{
  float: right;
  text-align:right;
}

#navbar ul div button {
  font-size: 22px;
  background-color: darkorange;
  color: #fff;
  padding: 10px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

section {
  padding: 20px;
  text-align: justify;
}

section h2 {
  color: darkorange;
}

section img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#width25 {
  width: 25%;
}

#width33 {
  width: 33%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 16px;
}

@media (max-width: 800px) {
  header div h1 {
    font-size: 13vw;
  }

  #navbar ul {
    font-size: 3vw;
  }

  #navbar ul div button {
    font-size: 3vw;
  }
  
  #width25 {
    width:100%;
  }
  
  #width33 {
    width:100%;
  }
}

@media (max-width: 510px) {
  #navbar ul {
    font-size: 3.2vw;
  }

  #navbar ul li a {
    padding: 2vw 1vw;
  }

  #navbar ul div button {
    font-size: 3.2vw;
    padding: 2.2vw 2vw;
  }
}